*{
    font-family: Poppins;

}

body {
    background-color: #FEFFCD;
}


.event-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #FFEB3B;
    padding: 50px;
    text-align: left;
    border: 5px solid #000;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;

}
.title{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Poppins";
    font-weight: bolder;
}
.event-post {

    border-radius: 8px;
    background-color: white;
}

.button-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.txt{
    margin-bottom: -10px;
}

@media (max-width: 768px) {
    .event-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .event-container {
        grid-template-columns: 1fr;
    }
}
