.footer {
    background-color: #1E1E1E; /* Light yellow background */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    margin: 0 10px;
}

.footer-text {
    text-align: right;
    color: #FFF502;
}

.footer-text p {
    margin: 0;
    font-family: "Poppins Regular";

}

/* Responsive for Tablets */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 15px 20px; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-icons {
        margin-bottom: 10px;
    }

    .footer-text {
        text-align: center;
    }

    .social-icon {
        width: 35px; 
        height: 35px;
    }
}

/* Responsive for Phones */
@media (max-width: 480px) {
    .footer {
        padding: 20px 10px; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-icons {
        margin-bottom: 15px; 
    }

    .footer-text {
        text-align: center;
        font-size: 14px; 
    }

    .social-icon {
        width: 30px; 
        height: 30px;
    }
}