.title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Poppins Medium";
    font-weight: bolder;
}

/* Responsive for Tablets */
@media(max-width: 768px){
    .title{
        font-size: 28px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* Responsive for Phones */
@media(max-width: 480px){
    .title{
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}