.about-us {
    background-color: #FFF502;
    padding: 50px;
    text-align: left;
    border: 3px solid #000;
    border-radius: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height: 50%;

}

.content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #FFF502;
}

.about-us h2 {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-top: -10px;
    text-align: center;
    background-color: #FFF502;
}

.about-us p {
    font-size: 26px;
    color: #000;
    margin-bottom: 20px;
    width: 50%;
    font-family: "Poppins Medium";
    background-color: #FFF502;
}

.about-us img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #000;
}

/* Responsive for Tablets */
@media (max-width: 768px) {
    .about-us {
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 40px; 
        height: auto; 
    }

    .content {
        flex-direction: column; 
        align-items: center; 
    }

    .about-us h2 {
        font-size: 36px;
        margin-top: 0;
    }

    .about-us p {
        font-size: 22px; 
        width: 100%; 
        text-align: center; 
    }

    .about-us img {
        width: 80%; 
        margin-top: 20px;
    }
}

/* Responsive for Phones */
@media (max-width: 480px) {
    .about-us {
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 30px;
    }

    .about-us h2 {
        font-size: 28px; 
    }

    .about-us p {
        font-size: 18px; 
        width: 100%;
        text-align: center;
    }

    .about-us img {
        width: 90%; 
    }
}
