.red-button {
    background-color: #DB0F45;
    color: white;
    font-family: "Poppins SemiBold";
    border: 5px solid black;
    padding: 12px 24px;
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 35%;
    display: inline-block;

}

.red-button:hover {
    background-color: #E04343;
}

.red-button:active {
    background-color: #CC3B3B;
}

.red-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 75, 75, 0.5);
}

/* Responsive for Tablets */
@media (max-width: 768px) {
    .red-button {
        padding: 10px 20px;
        font-size: 20px;
        width: 50%;
    }
}

/* Responsive for Phones */
@media (max-width: 480px) {
    .red-button {
        padding: 8px 16px;
        font-size: 18px;
        width: 70%;
    }
}