
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    margin-bottom: 60px;
}

.search-input {
    width: 60%;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 30px;
    border: 5px solid #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;

}

.search-button {
    padding: 10px 20px; /* Add padding inside the button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    background-color: #ff4d4d; /* Background color */
    color: #fff; /* Text color */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.search-button:hover {
    background-color: #e60000; /* Darker background color on hover */
}

.search-input::placeholder {
    color: #aaa;
    font-size: 18px;
}
