.yellow-box {
    background-color: #FFF502;
    border: 2px solid black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px;
}

.yellow-box h2 {
    margin-bottom: 10px;
}

.yellow-box-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}